{% extends "Profile/base.html" %}
{% block content %}
    <h2>About the Blog app developer!!</h2>
    <p>Hello world, I am Supriya: A full time learner and data lover questing after information. I would like to share some information about myself with you all.<br> <br><u><b>A little about my professional backgroud : </u></b></br> <br>&#8729; Working as Data Scientist at Analysts International in Minneapolis, Minnesota. </br>&#8729; Gradute Data Science student, class of Spring 2018 from SDSU, SD <br>&#8729; Adroit in programming languanges: </br>&emsp;&emsp; Python, R, C/C++, Java, C# <br>&emsp;&emsp; SQL <br>&emsp;&emsp; HTML, CSS, Bootstrap <br> &emsp;&emsp; AWS, Jenkins <br> &emsp;&emsp; PowerShell Scripting, Bash Scripting <br>&emsp;&emsp; Tableau</br> <br><u><b>How I spend my leisure time:</b></u></br> <br>&#8729; Working out in gym, dancing or playing any sport. <br>&#8729; Travelling and exploring new places. My latest travel was visiting Himalayas in Nepal. <br>&#8729; Painting. <br>&#8729; Chilling at the bar with friends.</p>

    <h2><br>Wishing good luck to all the learners!!</br></h2>
    <h4><br>I hope you enjoyed learning and building this basic web application. A loud shout-out to everyone who tried. I hope you successfully completed building the web application as you wanted.<br>Good luck on your learnings !! </br></br></h4>
{% endblock content %}
